<!DOCTYPE>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" th:remove="tag">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>予約システム：予約一覧画面</title>
<script th:src="@{/js/admin.js}"></script>
</head>
<body>
	<main layout:fragment="content">
		<div class="container">

			<p th:if="${flush != null}" id="flush-success"
				class="js-5 my-5 mx-auto" th:text="${flush}"></p>

			<h2 class="text-center mt-5">予約リスト</h2>

			<div
				class="w-50 mx-auto d-flex justify-content-around align-items-center date my-5">
				<select id="yearSelect" class="select text-center"
					onchange="getReservationsByYearAndMonth()">
				</select> <select id="monthSelect" class="select text-center"
					onchange="getReservationsByYearAndMonth()">
				</select>
			</div>

			<table id="reservationList" class="border mx-auto w-50">
			</table>
		</div>
	</main>
</body>
</html>