<!DOCTYPE>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"
	rel="stylesheet">
<link th:href="@{/css/app.css}" rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<title>予約システム</title>
</head>
<body>
	<header>
		<!-- ログイン者がいない時のヘッダー -->
		<div
			th:if="${#httpServletRequest.getSession().getAttribute('username') == null}"
			class="d-flex justify-content-center align-items-center h-100">
			<div id="system-title">
				<h2>予約システム</h2>
			</div>
		</div>

		<!-- ログイン者がいる時のヘッダー -->
		<div
			th:if="${#httpServletRequest.getSession().getAttribute('username') != null}"
			class="d-flex justify-content-between align-items-center h-100 mx-3">

			<div class="login-username">
				<span th:text="${session['username']}" class="p-0 m-0"></span>&nbsp;さん
			</div>

			<div id="system-title" class="mx-auto">
				<h2>予約システム</h2>
			</div>

			<div
				class="d-flex justify-content-between align-items-center w-10 nav-bar">
				<div class="config">
					<a th:href="@{/logout}" class="logout fs-6">ログアウト</a>
				</div>

				<!-- ログイン者が /admin にアクセス権限がある場合 = 管理者の場合設定ボタンを表示 -->
				<div sec:authorize-url="/admin"
					class="setting-wrapper d-flex justify-content-center align-items-center">
					<a th:href="@{/admin/setting}"><i
						class="bi bi-gear setting-icon"></i></a>
				</div>

			</div>

			<!-- ハンバーガメニューボタン -->
			<div id="hamburger">
				<span class="hamburger-bar"></span> <span class="hamburger-bar"></span>
				<span class="hamburger-bar"></span>
			</div>

		</div>


	</header>
	<div layout:fragment="content"></div>
</body>
</html>