@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

/* header */

header {
	height:10vh;
	background: #002434;
	color: #fff;
}

.logout {
	color: #fff;
	text-decoration: none;
}

.logout:hover {
	color: #fff;
	text-decoration: underline;
}

.setting-wrapper {
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 9999px;
	background-color: #fff;
}

.setting-wrapper:hover {
	background-color: #ccc;
	transition: 0.3s;
}

.setting-wrapper > a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.setting-icon {
	color:#002434;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#hamburger {
	width:40px;
	height: 32px;
	position: relative;
	display: none;
}

#hamburger:hover {
	cursor: pointer;
}

.hamburger-bar {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background: #fff;
}

.hamburger-bar:nth-child(1) {
  top: 0;
}

.hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-bar:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}

/* flush message */
#flush {
	border: 1px solid #ccc;
	border-radius: 20px;
	height: 10vh;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#flush-success {
	color: #155724;
	background-color: #D4EDDA;
	height: 10vh;;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#flush-danger {
	color: #721C24;
	background-color: #F8D7DA;
	height: 10vh;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* btn setting */
.input,
.select {
	border-radius: 9999px;
	border-color: #ccc;
	height: 50px;
	line-height: normal!important;
}

.input:hover,
.select:hover,
.check:hover {
	border: 1px solid #0094ff;
	background-color: #cbe9ff;
	transition: 0.2s;
}

.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 3%;
}

a.btn {
	line-height: 7vh;
	padding: 0;
}

.btn {
	height: 7vh;
	font-size: 1.3rem;
	background-color: #0b1456;
	border-radius: 9999px;
}

/* common */
#system-title {
	line-height: 10vh;
	text-align: center;
}

.w-10 {
	width: 10%;
	min-width: 100px;
}

p {
	margin: 0;
}


/* reservation */
#details {
	height: fit-content;
}

#remarks {
	min-height: 20vh;
}

.date>.select {
	width: 15%;
}

.vertical {
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-lr;
}

th,
td {
	writing-mode: horizontal-tb;
}


/* /admin reservationList */
#reservationList > tbody > tr {
	height: 10vh;
}

#reservationList > tbody > tr > th,
#reservationList > tbody > tr > td {
	text-align: center;
}



#reservationList > tbody > tr > th:not(:first-of-type),
#reservationList > tbody > tr > td:not(:first-of-type) {
	border-left: 1px solid #dee2e6!important;
}

/* setting */
#setting-table > thead > tr,
#setting-table > tbody > tr {
	width: 200px;
}

#setting-table > thead,
#setting-table > tbody {
	height: 100px;
	line-height: 100px;
}


/* responsive */
@media(max-width: 768px) {
	/* header */
	.nav-bar {
		display:none!important;
	}

	#hamburger {
		display: block;
	}

}


